
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/

.venv/
venv/
ENV/
env/
pip-log.txt
pip-delete-this-directory.txt

*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

.vscode/
.history/
.devcontainer/

.DS_Store
Thumbs.db

*.pid
*.seed
*.bak
*.swp
*.swo

htmlcov/
.coverage
.coverage.*
.cache
.nox/
.tox/
.pytest_cache/
.mypy_cache/

.env
.env.*
